<aside id="sidebar"
       class="col-md-2 col-lg-2 d-md-block bg-white border-end sidebar collapse">

    <div class="position-sticky pt-3">

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link {% if endpoint == 'dashboard.index' %}active{% endif %}"
                href="{{ url_for('dashboard.index') }}">
                    <i class="bi bi-speedometer2 me-2"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link {% if endpoint.startswith('rekomendasi.') %}active{% endif %}"
                href="{{ url_for('rekomendasi.index') }}">
                    <i class="bi bi-clipboard-check me-2"></i>
                    Monitoring
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="#">
                    <i class="bi bi-bar-chart-line me-2"></i>
                    Analisis
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="#">
                    <i class="bi bi-file-earmark-excel me-2"></i>
                    Data Excel
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   href="#">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    Laporan
                </a>
            </li>

        </ul>

        <hr>

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link"
                   href="#">
                    <i class="bi bi-gear me-2"></i>
                    Pengaturan
                </a>
            </li>

        </ul>

    </div>

</aside>
